* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white !important;
    font-family: "Hind", sans-serif;
    font-weight: 300;
    font-style: normal;
}

/* -------------------------------------------------------------NABVAR------------------------------------------------------------------------ */
.nav {
    text-align: center;
    flex-direction: column;
}

.navFixed {
    z-index: 1000;
    background-color: #111e27;
}

#navbarNavDropdown>ul>li>ul {
    background-color: #111e27 !important;
    color: white !important;
}

.newServers {
    font-size: 13px;
    text-align: inherit;
    padding: 0.25rem 1rem;
}

/* -------------------------------------------------------------1°SECTION------------------------------------------------------------------------ */

.background {
    background-color: #111e27;
    color: white !important;
}

.sectionFlex {
    display: flex;
    font-size: 15px;
    height: 40rem;
    margin-bottom: 10px;
    margin-top: 10rem;
    background-color: rgba(0, 0, 0, 0.459);
    z-index: 100;
}

.imgPortatil {
    padding: 0;
    height: 70vw;
    width: 600px;
    border: 0;
    margin: 70px 5vw 0 0;
}

.contenedorP {
    margin: 15px 10px 15px 10px;
    padding: 20px 0px 5px 20px;
    height: auto;
    width: auto;
}

.prestacionesP {
    line-height: 2em;
    text-align: start;
    margin-left: 2em;
}

body>section.sectionFlex>div.contenedorP>p {
    text-align: left;
}

/* -------------------------------------------------------------2°SECTION------------------------------------------------------------------------ */

.prestacionesGrid {
    display: grid;
    grid-template-columns: 21vw 21vw 21vw 21vw;
    justify-content: space-between;
    margin: 2em ;
}
.tamañoPrestaciones{
    width: 15vw;
}
.tarjetasPrestaciones{
    margin-top: 2rem;
    background-color: rgba(0, 0, 0, 0.459);
    border-radius: 15px;
    width: 21vw;
    height: auto;
}
.textoPrestaciones{
    padding: 1vw 0 1vw 2vw;
    font-size: 13px;


}
.h2Prestaciones{
    font-size: 20px;
}

/* -------------------------------------------------------animaciones--------------------------------------------------------------- */
/* boton 1 */

.botonVerSv {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border: 1px solid #ffffff;
    color: #000;
    background: transparent;
    z-index: 0;
}

.botonVerSv:hover:after {
    top: 0;
    left: 0;
}

.botonVerSv:after {
    content: "";
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 5px;
    left: 5px;
    transition: 0.2s;
    background-color: #ef233c;
}